body.woocommerce-checkout{
    #primary{
        #main{
            padding: 1.5rem 2.5rem;
            font-size: .9rem;
            background: #2e3132;
            input{
                border-radius: 0%;
            }
            textarea{
                border-radius: 0%;
            }
            #order_review_heading{
                display: none;
            }
            .woocommerce-form-coupon-toggle{
                display: none;
            }
        }
    }
#payment{
    background-color: #1e8dee;
}
}
.woocommerce-form-coupon-toggle p {
    display: none;
}
#order_review{
    p{
        display: none;
    }
}
.wc_payment_method.payment_method_cod{
    display: none;
}