#main-nav {
    padding-top: 22px;
}

.custom-logo-link {
    img {
        height: 63px;
    }
}

#nav1 {
    > .row {
        height: 63px;
        position: relative;

        &::after {
            border-top: 1px solid rgba(255,255,255,.3);
            bottom: 0;
            content: '';
            left: calc(var(--bs-gutter-x) * .5);
            position: absolute;
            right: calc(var(--bs-gutter-x) * .5);
        }
    }
}

.navbar-brand {
    a {
        font-size: 1.875rem;
        font-weight: 900;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
    }

    div {
        font-size: .8125rem;
        line-height: 1rem;
        margin-left: 15px;
    }
}

.social {
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 99px;
    height: 32px;
    width: 32px;

    &.fb {
        background: url('../img/fb-icon.webp') no-repeat center center;
    }

    &.gplus {
        background: url('../img/g-icon.webp') no-repeat center center;
        margin-left: 15px;
    }
}

.search-icon {
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 99px;
    height: 32px;
    margin-left: 15px;
    overflow: hidden;
    position: relative;
    -webkit-transition: width 1s ease-in-out,visibility .5s linear;
    -moz-transition: width 1s ease-in-out,visibility .5s linear;
    -o-transition: width 1s ease-in-out,visibility .5s linear;
    transition: width 1s ease-in-out,visibility .5s linear;
    width: 32px;

    [name="s"] {
        background: transparent;
        border: 0;
        color: #fff;
        font-size: 0.875rem;
        opacity: 0;
        padding: .27rem 0 0 1rem;
        position: relative;
        right: 0;
        top: 0;
    }

    .search-submit {
        background: url('../img/search-icon.webp') no-repeat center center;
        border: 0;
        cursor: pointer;
        height: 32px;
        position: absolute;
        right: 0;
        top: 0;
        width: 32px;
    }

    &:hover {
        width: 180px;

        [name="s"] {
            opacity: 1;
        }
    }
}

.city-dropdown
{
    background: url('../img/city-dropdown-arrow.webp') no-repeat 93% center;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 99px;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 100;
    height: 32px;
    line-height: 1.875rem;
    margin-left: 15px;
    padding-left: 1rem;
    padding-right: 6rem;
    text-decoration: none;
}

#city {
    position: relative;

    .navbar {
        background: #ffffff;
        border-radius: 8px;
        left: 15px;
        padding: 0;
        position: absolute;
        right: 0;
        top: 100%;
        z-index: 99;
    }

    .cities {
        margin-bottom: 0;
        width: 100%;
    }

    li {
        font-size: 0.875rem;
        line-height: 1.125rem;

        &:nth-child(1) {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        &:nth-last-child(1) {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        &:hover {
            background-color: #eeeeee;
        }

        a {
            display: block;
            color: #555555;
            padding: 3px 15px 3px 15px;
            font-weight: 400;
            text-decoration: none;
        }
    }
}

#nav2 {
    padding: 0 calc(var(--bs-gutter-x) * .5);

    .cart-contents {
        text-decoration: none;

        &::before {
            color: #7a5ab0 !important;
            content: "\e01d";
            font-family: WooCommerce;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            margin-top: 10px;
            padding-right: 5px;
            vertical-align: bottom;
        }
    }
}

#main-menu {
    position: relative;

    .dropdown {
        position: static;
    }

    > li {
        &.divider {
            display: none;
        }

        &:nth-child(1) {
            > a {
                padding-left: var(--bs-gutter-x);
            }
        }

        + li {
            &::before {
                content: '';
                border-left: 1px solid #a8b8c866;
                height: 12px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(17deg);
            }
        }

        > a {
            color: #fff;;
            font-size: .7rem;
            font-weight: 900;
            line-height: 55px;
            height: 53px;
            padding: 0 20px;
            text-transform: uppercase;
        }

        .dropdown-menu {
            background: rgba(255,255,255,.1);
            border: 0;
            border-radius: 0;
            left: var(--bs-gutter-x);
            margin: 0;
            padding: 0;
            width: 100%;

            &.show {
                display: flex;
            }

            a {
                background: none;
                color: #fff;
                font-family: 'Lato',sans-serif;
                font-size: .78rem;
                font-weight: 400;
                line-height: 55px;
                height: 53px;
                padding: 0 20px;

                &:hover {
                    background: none;
                    text-decoration: underline;
                }
            }
        }
    }

    .dropdown-toggle {
        &::after {
            content: none;
            display: none;
        }
    }
}
